.teacher-box {
  width: 350px;
  height: 350px;
  margin: 45px;
  cursor: pointer;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teacher-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-teacher {
  font-size: 30px;
  color: #fff;
}

#boxv1 {
  background-image: url(../assets/Auth/images/logos/article.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 250px;
}

#boxv2 {
  background-image: url(../assets/Auth/images/logos/lesson-admin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 250px;
}
